{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Responsive view meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Esse link puxa por cdn arquivos css do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/style-error-pages.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,700&display=swap">
    <title>PetScan: Líder no Diagnóstico de imagem veterinária com IA</title>
</head>

<body>
    <header class="gradient"></header>

    <div class="orange-elipse"></div><!--Essa tag traz o efeito do grafismo laranja-->

    <!--Seção principal-->
    <section class="main-section">
        <img src="{% static 'img/401.png' %}" alt="404-error" width="500px" height="300px">
        <p style="color:rgba(38, 50, 56, 1);font-weight: 700;">Você não tem permissão para visualizar esta
            página.<br>Por favor, <a style="color: #F85E9F !important; text-decoration: none;"
                href="{% url 'loadlogin' %}">faça login com uma conta autorizada.</a></p>
        <button type="button" class="purple-button reload-button"><a href="{% url 'loadlogin' %}"
                style="color:white; text-decoration: none;">Fazer Login</a></button>
    </section>

    <!--Grafismo triangulos-->
    <svg class="mb-5" width="65" height="171" viewBox="0 0 65 171" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_7_1480)">
            <path d="M44.0254 170.703L65 170.703L54.5127 160.216L44.0254 170.703Z" fill="#FF5722" />
            <path d="M44.0254 135.164L65 135.164L54.5127 124.677L44.0254 135.164Z" fill="#FF5722" />
            <path d="M44.0254 99.6107L65 99.6107L54.5127 89.1234L44.0254 99.6107Z" fill="#FF5722" />
            <path d="M44.0254 64.0721L65 64.0721L54.5127 53.5849L44.0254 64.0721Z" fill="#FF5722" />
            <path d="M44.0254 28.5335L65 28.5335L54.5127 18.0311L44.0254 28.5335Z" fill="#FF5722" />
            <path d="M0.000263214 153.426L20.9749 153.426L10.4876 142.939L0.000263214 153.426Z" fill="#FF5722" />
            <path d="M1.90735e-05 117.873L20.9746 117.873L10.4873 107.385L1.90735e-05 117.873Z" fill="#FF5722" />
            <path d="M1.90735e-05 82.3339L20.9746 82.3339L10.4873 71.8466L1.90735e-05 82.3339Z" fill="#FF5722" />
            <path d="M1.90735e-05 46.7954L20.9746 46.7953L10.4873 36.3081L1.90735e-05 46.7954Z" fill="#FF5722" />
            <path d="M1.90735e-05 11.2416L20.9746 11.2416L10.4873 0.754347L1.90735e-05 11.2416Z" fill="#FF5722" />
        </g>
        <defs>
            <clipPath id="clip0_7_1480">
                <rect width="65" height="169.949" fill="white" transform="translate(65 170.703) rotate(180)" />
            </clipPath>
        </defs>
    </svg>

    <footer class="gradient">
        <p class="footer-text">©2023 Todos os direitos reservados. <a href="#"
                style="color: white; text-decoration: none;">Política de Privacidade</a> e <a href="#"
                style="color: white; text-decoration: none;">Termos de Uso</a>.</p>
        <p class="footer-text"><a href="mailto:contato@petscan.com"
                style="color: white; text-decoration: none;">contato@petscan.com</a></p>
    </footer>
    <!--Esse link puxa por cdn arquivos js da bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script-error.js' %}"></script>
</body>

</html>