/*Define esitlo padrao de botoes no geral*/
button {
    font-weight: 400;
    line-height: 120%;
}

button.button-shadow {
    box-shadow: 2px 25px 4px rgba(0, 0, 0, 0.08); /* Deslocamento horizontal, deslocamento vertical, desfoque e cor da sombra */
}

/*Define estilo de botoes roxos*/
button.purple-button {
    color: white;
    background-color: #5D50C6;
    border-radius: 100px;
    border: none;
    transition: border-color 0.3s, background-color 0.3s; /* Adiciona uma transição suave para a cor da borda */
}

button.purple-button:hover {
    background-color: #7d70e6;
    color: white;
}

/*Define estilo de botoes brancos*/
button.white-button {
    color: #5D50C6;
    background-color: white;
    border-radius: 100px;
    border: 0.1px #EEEEEE solid;
    transition: border-color 0.3s, background-color 0.3s; /* Adiciona uma transição suave para a cor da borda */
}

button.purple-button:hover {
    background-color: #7d70e6;
    color: white;
}

/*Define a dimensão de botões pequenos*/
button.tiny {
    font-size: 14px;
    width: 100px;
    height: 49px;
}

/*Define tamanho de botões médios*/
button.medium {
    width: 150px;
    height: 49px;
}

/*Define tamanho de botões grandes*/
button.big {
    width: 500px;
    height: 49px;
}