@media(max-width:720px) {
    .reduce-mobile-text span {
        font-size: 12px !important;
    }

    /*Deita o rodapé*/
    .mobile-make-column {
        flex-direction: column;
    }

    .mobile-make-column div {
        margin-bottom: 20px;
    }
}