/*For more straightforward sizing in CSS, we switch the global box-sizing value 
from content-box to border-box. This ensures padding does not affect the final 
computed width of an element, but it can cause problems with some third-party 
software like Google Maps and Google Custom Search Engine.
https://getbootstrap.com/docs/5.3/getting-started/introduction/
*/

/*Limpo todas as estilizações padrão de links*/
a {
    text-decoration: none;
    color: var(--bs-body-color);
}

/*Define a configuracao externa da navbar*/
.nav-self-config {
    height: 90px;
    background-color: transparent !important;
}

/*Da o efeito laranja no canto superior da tela*/
.orange-elipse {
    /* Ellipse 23 */
    position: absolute;
    width: 450px;
    height: 450px;
    left: -356px;
    top: -223px;
    /* Orange */
    background: #FF5722;
    opacity: 0.5;
    filter: blur(250px);
}

/* .yellow-elipse {
    /* Ellipse 24 */

    /* position: absolute;
    width: 500px;
    height: 500px;
    left: 1351px;
    top: 847px;

    /* Yellow */
    /* background: #FACD49;
    opacity: 0.5;
    filter: blur(250px);

} */

/*Cor branca no fundo do menu de itens*/
.menu-self-config {
    background-color: white;
}

/*Espacamento entre itens do menu e sobreposicao dos clicaveis ao grafismo laranja*/
.menu-self-config li {
    margin-left: 40px;
    z-index: 1;
}

/*Sobreposicao do icone clicaveL ao grafismo laranja*/
.navbar-brand-self-config {
    z-index: 1;
}

.navbar-toggler-self-config {
    z-index: 1;
}

/*Define esitlo padrao de botoes no geral*/
button {
    font-weight: 400;
    line-height: 120%;
}

button.button-shadow {
    box-shadow: 2px 25px 4px rgba(0, 0, 0, 0.08);
    /* Deslocamento horizontal, deslocamento vertical, desfoque e cor da sombra */
}

/*Define estilo de botoes roxos*/
button.purple-button {
    color: white;
    background-color: #5D50C6;
    border-radius: 100px;
    border: none;
    transition: border-color 0.3s, background-color 0.3s;
    /* Adiciona uma transição suave para a cor da borda */
}

button.purple-button:hover {
    background-color: #7d70e6;
    color: white;
}

/*Define estilo de botoes brancos*/
button.white-button {
    color: #5D50C6;
    background-color: white;
    border-radius: 100px;
    border: 0.1px #EEEEEE solid;
    transition: border-color 0.3s, background-color 0.3s;
    /* Adiciona uma transição suave para a cor da borda */
}

/*Define a dimensão de botões pequenos*/
button.tiny {
    font-size: 14px;
    width: 100px;
    height: 49px;
}

/*Define tamanho de botões médios*/
button.medium {
    width: 150px;
    height: 49px;
}

/*Define tamanho de botões grandes*/
button.big {
    width: 500px;
    height: 49px;
}

/*Define a fonte de título e botões*/
body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 120%;
    font-weight: bold;
    vertical-align: top;
    color: #191825;
}

/*Corpo de textos. No figma seria a tipografia body*/
body p {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    color: rgba(25, 24, 37, 1);
}

/*É para definir o título de tabelas ou legendas de imagens*/
body .caption {}

@media(max-width:720px) {
    .reduce-mobile-text span {
        font-size: 12px !important;
    }

    /*Deita o rodapé*/
    .mobile-make-column {
        flex-direction: column;
    }

    .mobile-make-column div {
        margin-bottom: 20px;
    }
}

/*Mantém tamanhos de tela menores sem padding para evitar quebra de layout*/
@media(min-width:992px) {
    .nav-self-config {
        padding-left: 100px;
        padding-right: 100px;
    }
}